<div class="flex flex-col items-center justify-center p-8 gap-2">
  <h2 class="text-2xl font-bold">Apply Form</h2>
  <p>Property Id : {{ id }}</p>
  <form [formGroup]="applyForm" (submit)="applyFormSubmit();" class=" w-80 flex flex-col items-center justify-center p-8 border border-black text-black rounded gap-3">
    <input class="border-2 border-black  w-full text-center" type="text" formControlName="firstName" placeholder="Enter First Name" />
    <input class="border-2 border-black w-full text-center" type="text" formControlName="lastName" placeholder="Enter Last Name"/>
    <input class="border-2 border-black w-full text-center" type="email" formControlName="email" placeholder="Enter Email"/>
    <button class="w-full border-2 border-black px-4 py-1 rounded hover:text-white hover:bg-black" type="submit">Apply</button>
  </form>
</div>
